<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agent-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">代理商名称：</label>
				<div class="col-sm-4">
					<input id="agentName" name="agentName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-4">
					<input id="agentTel" name="agentTel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司名称：</label>
				<div class="col-sm-4">
					<input id="company" name="company" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司地址：</label>
				<div class="col-sm-4">
					<input id="address" name="address" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">邮箱：</label>
				<div class="col-sm-4">
					<input id="email" name="email" class="form-control" type="text">
				</div>
			</div>
		</form>
		<input type="button" onclick="submitHandler()" value="注册">
		<input type="reset" value="取消">
	</div>
	<div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "/reg"
		$("#form-agent-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	      /*   if ($.validate.form()) {
	            $.operate.save(prefix + "/register", $('#form-agent-add').serialize());
	        } */
	        var agentName = $("#agentName").val();
	        var agentTel = $("#agentTel").val();
	        var address = $("#address").val();
	        var email = $("#email").val();
	        var company = $("#company").val();
	        $.ajax({
	            type: "post",
	            dataType :"json",
	           	url:"http://127.0.0.1:9980/agent/agent/register",
	            data: { agentName:agentName,
	            		agentTel:agentTel,
	            		address:address,
	            		email:email,
	            		company:company
	            		},
	            success: function(r) {
	            	if(r.code == 0){
	            		$.modal.msgSuccess("注册成功！");
	            		location.href = ctx + 'toLogin';
	            	}
	            }
	        });
	    }
	</script>
</body>
</html>
