<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>代理商注册</title>
</head>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<body>
	<div>
		<form id="form-agent-add">
			<div>
				<label>姓名：</label>
				<input type="text" placeholder="姓名" name="agentName" class="agentName"/>
			</div>
			<div>
				<label>联系方式：</label>
				<input type="text" placeholder="联系方式" name="agentTel" class="agentTel"/>
			</div>
			<div>
				<label>邮箱地址：</label>
				<input type="text" placeholder="联系方式" name="agentEmail" class="agentEmail"/>
			</div>
			<div>
				<label>公司名称：</label>
				<input type="text" placeholder="联系方式" name="company" class="company"/>
			</div>
			<div>
				<label>公司地址：</label>
				<input type="text" placeholder="联系方式" name="address" class="address"/>
			</div>
			<input type="submit" value="确定" class="sub"/>
			<input type="reset" value="取消" class="res"/>
		</form>
	</div>
</body>
</html>