<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.test.mapper.TestMapper">
    
    <resultMap type="Test" id="TestResult">
        <result property="testId"    column="test_id"    />
        <result property="testName"    column="test_name"    />
    </resultMap>
	
	<sql id="selectTestVo">
        select test_id, test_name from sys_test
    </sql>
	
    <select id="selectTestList" parameterType="Test" resultMap="TestResult">
        <include refid="selectTestVo"/>
        <where>  
            <if test="testId != null "> and test_id = #{testId}</if>
             <if test="testName != null  and testName != '' "> and test_name = #{testName}</if>
         </where>
    </select>
    
    <select id="selectTestById" parameterType="Integer" resultMap="TestResult">
        <include refid="selectTestVo"/>
        where test_id = #{testId}
    </select>
        
    <insert id="insertTest" parameterType="Test">
        insert into sys_test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="testId != null  ">test_id,</if>
			<if test="testName != null  and testName != ''  ">test_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="testId != null  ">#{testId},</if>
			<if test="testName != null  and testName != ''  ">#{testName},</if>
         </trim>
    </insert>
	 
    <update id="updateTest" parameterType="Test">
        update sys_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="testName != null  and testName != ''  ">test_name = #{testName},</if>
        </trim>
        where test_id = #{testId}
    </update>

	<delete id="deleteTestById" parameterType="Integer">
        delete from sys_test where test_id = #{testId}
    </delete>
	
    <delete id="deleteTestByIds" parameterType="String">
        delete from sys_test where test_id in 
        <foreach item="testId" collection="array" open="(" separator="," close=")">
            #{testId}
        </foreach>
    </delete>
    
</mapper>